@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 34, 34, 34; /* Changed: Background color from black to dark gray */
    --background-end-rgb: 34, 34, 34;   /* Changed: Background color from black to dark gray */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header, footer {
  border-bottom: 2px solid #ffcc00;
}

header h1, footer p {
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
}

nav a:hover {
  color: #ffcc00;
  text-shadow: 0 0 5px #ffcc00;
}

button {
  cursor: pointer;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  font-size: 1.5rem;
  color: #333;
}

.not-found-container {
  text-align: center;
  padding: 2rem;
}

.not-found-container h1 {
  color: #ff0000; /* 赤色に変更 */
}

.not-found-container p {
  color: #333; /* ダークグレーに変更 */
}

.not-found-container a {
  color: #0070f3; /* 青色に変更 */
  text-decoration: none;
}

.not-found-container a:hover {
  text-decoration: underline;
}
